body{
    font-size: 15px;
  }
  /* Header **/
  header{
   padding-left: 12px;
   padding-top: 30px;
   padding-bottom: 30px;
   border-bottom: 3px solid aqua;
   background-color: pink;
   color: white;
   border-top-left-radius: 12px;
   border-top-right-radius: 12px;
  }
  
  footer{
    padding: 20px;
    text-align: center;
    background-color: pink;
    border-top: 2px solid aqua ;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 20px;
  }